create_github_oidc_provider = false
github_oidc_provider_arn    = "arn:aws:iam::111111111111:oidc-provider/token.actions.githubusercontent.com"

github_subject_patterns = [
  "repo:forwardnetworks/aws-sync:ref:refs/heads/main",
]

tags = {
  Application = "awssync"
  ManagedBy   = "Terraform"
}
